In [43]:
from sklearn import datasets
boston = datasets.load_boston()
x = boston['data']
y = boston['target']

In [44]:
import pandas as pd
column = boston.feature_names
#df contains only x values
df = pd.DataFrame(x,columns = column)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [45]:
from sklearn import model_selection
x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y,random_state = 0)

In [46]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(x_train,y_train)

LinearRegression()

In [47]:
y_pred = alg1.predict(x_test)

In [48]:
score_test = alg1.score(x_test,y_test)
score_training = alg1.score(x_train,y_train)

print("Train_1 Score : ", score_training)
print("Test_1 Score : ", score_test)

Train_1 Score :  0.7697699488741149
Test_1 Score :  0.6354638433202129

### Now adding one dummy feature age_age

In [49]:
df2 = df
df2['age_age'] = df2.AGE**2
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age_age
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,4251.04
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,6225.21
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,3733.21
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,2097.64
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,2937.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,4774.81
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,5882.89
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,8281.00
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,7974.49
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,6528.64

In [50]:
x2 = df2.values
x2

array([[6.32000e-03, 1.80000e+01, 2.31000e+00, ..., 3.96900e+02,
        4.98000e+00, 4.25104e+03],
       [2.73100e-02, 0.00000e+00, 7.07000e+00, ..., 3.96900e+02,
        9.14000e+00, 6.22521e+03],
       [2.72900e-02, 0.00000e+00, 7.07000e+00, ..., 3.92830e+02,
        4.03000e+00, 3.73321e+03],
       ...,
       [6.07600e-02, 0.00000e+00, 1.19300e+01, ..., 3.96900e+02,
        5.64000e+00, 8.28100e+03],
       [1.09590e-01, 0.00000e+00, 1.19300e+01, ..., 3.93450e+02,
        6.48000e+00, 7.97449e+03],
       [4.74100e-02, 0.00000e+00, 1.19300e+01, ..., 3.96900e+02,
        7.88000e+00, 6.52864e+03]])

In [51]:
x_train2,x_test2,y_train2,y_test2 = model_selection.train_test_split(x2,y,random_state = 0)
alg2 = LinearRegression()
alg2.fit(x_train2,y_train2)
y_pred2 = alg2.predict(x_test2)
score_test2 = alg2.score(x_test2,y_test2)
score_training2 = alg2.score(x_train2,y_train2)

print("Train_2 Score : ", score_training2)
print("Test_2 Score : ", score_test2)

Train_2 Score :  0.7707245449911091
Test_2 Score :  0.6433109272342966

In [52]:
print("Train_1 Score : ", score_training)
print("Test_1 Score : ", score_test)

print("Train_2 Score : ", score_training2)
print("Test_2 Score : ", score_test2)

Train_1 Score :  0.7697699488741149
Test_1 Score :  0.6354638433202129
Train_2 Score :  0.7707245449911091
Test_2 Score :  0.6433109272342966

## Now adding multiple dummy column to Data

In [53]:
df3 = df
column = boston.feature_names
column

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [55]:
for i in range(len(column)):
    str1 = column[i]
    for j in range(i,len(column)):
        str2 = column[j]
        str3 = str1 + '_' + str2
        df3[str3] = df3[str1]*df3[str2]

In [56]:
df3

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAX_TAX,TAX_PTRATIO,TAX_B,TAX_LSTAT,PTRATIO_PTRATIO,PTRATIO_B,PTRATIO_LSTAT,B_B,B_LSTAT,LSTAT_LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,87616.0,4528.8,117482.40,1474.08,234.09,6072.570,76.194,157529.6100,1976.5620,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,58564.0,4307.6,96049.80,2211.88,316.84,7064.820,162.692,157529.6100,3627.6660,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,58564.0,4307.6,95064.86,975.26,316.84,6992.374,71.734,154315.4089,1583.1049,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,49284.0,4151.4,87607.86,652.68,349.69,7379.581,54.978,155732.8369,1160.2122,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,49284.0,4151.4,88111.80,1183.26,349.69,7422.030,99.671,157529.6100,2115.4770,28.4089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,...,74529.0,5733.0,107013.27,2639.91,441.00,8231.790,203.070,153656.1601,3790.5433,93.5089
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,...,74529.0,5733.0,108353.70,2478.84,441.00,8334.900,190.680,157529.6100,3603.8520,82.4464
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,...,74529.0,5733.0,108353.70,1539.72,441.00,8334.900,118.440,157529.6100,2238.5160,31.8096
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,...,74529.0,5733.0,107411.85,1769.04,441.00,8262.450,136.080,154802.9025,2549.5560,41.9904
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,...,74529.0,5733.0,108353.70,2151.24,441.00,8334.900,165.480,157529.6100,3127.5720,62.0944

In [57]:
for x in df.columns:
    print(x)

CRIM
ZN
INDUS
CHAS
NOX
RM
AGE
DIS
RAD
TAX
PTRATIO
B
LSTAT
age_age
CRIM_CRIM
CRIM_ZN
CRIM_INDUS
CRIM_CHAS
CRIM_NOX
CRIM_RM
CRIM_AGE
CRIM_DIS
CRIM_RAD
CRIM_TAX
CRIM_PTRATIO
CRIM_B
CRIM_LSTAT
ZN_ZN
ZN_INDUS
ZN_CHAS
ZN_NOX
ZN_RM
ZN_AGE
ZN_DIS
ZN_RAD
ZN_TAX
ZN_PTRATIO
ZN_B
ZN_LSTAT
INDUS_INDUS
INDUS_CHAS
INDUS_NOX
INDUS_RM
INDUS_AGE
INDUS_DIS
INDUS_RAD
INDUS_TAX
INDUS_PTRATIO
INDUS_B
INDUS_LSTAT
CHAS_CHAS
CHAS_NOX
CHAS_RM
CHAS_AGE
CHAS_DIS
CHAS_RAD
CHAS_TAX
CHAS_PTRATIO
CHAS_B
CHAS_LSTAT
NOX_NOX
NOX_RM
NOX_AGE
NOX_DIS
NOX_RAD
NOX_TAX
NOX_PTRATIO
NOX_B
NOX_LSTAT
RM_RM
RM_AGE
RM_DIS
RM_RAD
RM_TAX
RM_PTRATIO
RM_B
RM_LSTAT
AGE_AGE
AGE_DIS
AGE_RAD
AGE_TAX
AGE_PTRATIO
AGE_B
AGE_LSTAT
DIS_DIS
DIS_RAD
DIS_TAX
DIS_PTRATIO
DIS_B
DIS_LSTAT
RAD_RAD
RAD_TAX
RAD_PTRATIO
RAD_B
RAD_LSTAT
TAX_TAX
TAX_PTRATIO
TAX_B
TAX_LSTAT
PTRATIO_PTRATIO
PTRATIO_B
PTRATIO_LSTAT
B_B
B_LSTAT
LSTAT_LSTAT

In [58]:
x3 = df.values

In [59]:
x_train3,x_test3,y_train3,y_test3 = model_selection.train_test_split(x3,y,random_state = 0)
alg3 = LinearRegression()
alg3.fit(x_train3,y_train3)
y_pred3 = alg3.predict(x_test3)
score_test3 = alg3.score(x_test3,y_test3)
score_training3 = alg3.score(x_train3,y_train3)

In [60]:
print("Train_1 Score : ", score_training)
print("Test_1 Score : ", score_test)
print()
print("Train_2 Score : ", score_training2)
print("Test_2 Score : ", score_test2)
print()
print("Train_3 Score : ", score_training3)
print("Test_3 Score : ", score_test3)

Train_1 Score :  0.7697699488741149
Test_1 Score :  0.6354638433202129

Train_2 Score :  0.7707245449911091
Test_2 Score :  0.6433109272342966

Train_3 Score :  0.952051960903273
Test_3 Score :  0.6074721959705889

#### We can see that after adding many dummy column aur training score is very high but test score become less